@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap");

$primary: #22b14c; //green
$secondary: #b5e61d; //lemongreen
$text: #222222; //darkgrey

* {
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

html {
  height: 100%;
  display: flex;
  background-image: url("../img/sfondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
  width: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  color: $primary;

  p {
    font-size: 100px;
    margin: 0;
    margin-bottom: 2rem;
  }
}

.textbox {
  display: flex;
  justify-content: center;
  width: 100%;

  input {
    font-size: 40px;
    text-align: center;
    width: 100%;
    border: 1px solid $secondary;
    border-radius: 40px;
    background-color: transparent;
    color: $secondary;
  }
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.search, .random {
  display: flex;
  justify-content: center;
  width: 49%; //49% quando c'è anche l'altro button
  border: 1.5px solid black;
  border-radius: 20px;
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: $primary;

  &:hover {
    background-color: $secondary;
    cursor: pointer;
  }

  p {
    font-size: 50px;
    padding: 0;
    margin: auto;
    text-align: center;
  }
}

.result {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  width: 100%;
  border: 1.5px solid $primary;
  border-radius: 20px;
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: rgba(181, 230, 29, 0.5);

  p {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 1280px) {
  body {
    width: 60%;
  }
  .title {
    p {
      font-size: 90px;
    }
  }

  .textbox {
    input {
      font-size: 30px;
    }
  }

  .search, .random {
    p {
      font-size: 40px;
    }
  }

}

@media (max-width: 1010px) {
  body {
    width: 70%;
  }
  .title {
    p {
      font-size: 80px;
      margin-bottom: 1.5rem;
    }
  }

  .textbox {
    input {
      font-size: 25px;
    }
  }

  .search, .random {
    margin-top: 1.5rem;
    p {
      font-size: 35px;
    }
  }
}

@media (max-width: 905px) {
  body {
    width: 80%;
  }
}

@media (max-width: 590px) {
  .result {
    p {
      font-size: 95%;
    }
  }
}

@media (max-width: 565px) {
  .title {
    p {
      font-size: 70px;
      margin-bottom: 1rem;
    }
  }

  .textbox {
    input {
      font-size: 20px;
    }
  }

  .search, .random {
    padding: 0.25rem;
    margin-top: 1rem;
    p {
      font-size: 30px;
    }
  }

  .result {
    p {
      font-size: 90%;
    }
  }
}

@media (max-width: 540px) {
  .result {
    p {
      font-size: 85%;
    }
  }
}

@media (max-width: 500px) {
  .title {
    p {
      font-size: 65px;
      margin-bottom: 0.75rem;
    }
  }

  .search, .random {
    padding: 0.10rem;
    margin-top: 0.75rem;
    p {
      font-size: 25px;
    }
  }

  .result {
    p {
      font-size: 80%;
    }
  }
}

@media (max-width: 475px) {
  body {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .title {
    p {
      font-size: 60px;
      margin-bottom: 0.5rem;
    }
  }

  .textbox {
    input {
      font-size: 18px;
    }
  }

  .search, .random {
    padding: 0.10rem;
    margin-top: 0.5rem;
    p {
      font-size: 23px;
    }
  }

  .result {
    p {
      font-size: 75%;
    }
  }
}

@media (max-width: 400px) {
  body {
    width: 95%;
  }
}

@media (max-width: 380px) {
  body {
    width: 100%;
  }
}
