@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap");
* {
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

html {
  height: 100%;
  display: flex;
  background-image: url("assets/img/sfondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #222222;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
  width: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: #22b14c;
}

.title p {
  margin: 0;
  margin-bottom: 2rem;
}

.textbox {
  display: flex;
  justify-content: center;
  width: 100%;
}

.textbox input {
  font-size: 40px;
  text-align: center;
  width: 50%;
  border: none;
  background-color: transparent;
  color: #b5e61d;
}

.result {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  width: 100%;
  border: 1.5px solid #22b14c;
  border-radius: 20px;
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: rgba(181, 230, 29, 0.5);
}

.result p {
  padding: 0;
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  width: 60%;
  border: 1.5px solid black;
  border-radius: 20px;
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: #22b14c;
}

.button:hover {
  background-color: #b5e61d;
  cursor: pointer;
}

.button p {
  font-size: 50px;
  padding: 0;
  margin: auto;
  text-align: center;
}
