@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap");
* {
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

html {
  height: 100%;
  display: flex;
  background-image: url("../img/sfondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #222222;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
  width: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  color: #22b14c;
}

.title p {
  font-size: 100px;
  margin: 0;
}

.textbox {
  position: relative;
  justify-content: center;
  width: 100%;
}

.textbox input {
  font-size: 40px;
  text-align: center;
  width: 100%;
  border: 1px solid #b5e61d;
  border-radius: 40px;
  background-color: transparent;
  color: #b5e61d;
}

.textbox .fa-magnifying-glass {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  font-size: 30px;
  color: #b5e61d;
}

.textbox .fa-city {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  font-size: 30px;
  color: #b5e61d;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.search, .random {
  display: flex;
  justify-content: center;
  width: 48%;
  border: 1.5px solid black;
  border-radius: 20px;
  margin-top: 2rem;
  background-color: #22b14c;
}

.search:hover, .random:hover {
  background-color: #b5e61d;
  cursor: pointer;
}

.search p, .random p {
  font-size: 40px;
  padding: 0;
  margin: auto;
  text-align: center;
}

.result {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  width: 100%;
  border: 1.5px solid #22b14c;
  border-radius: 20px;
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: rgba(181, 230, 29, 0.5);
}

.result p {
  padding: 0;
  margin: 0;
}

@media (max-width: 1280px) {
  body {
    width: 60%;
  }
  .title p {
    font-size: 90px;
  }
  .textbox input {
    font-size: 30px;
  }
  .textbox .fa-magnifying-glass {
    font-size: 20px;
    top: 17.5px;
    left: 17.5px;
  }
  .textbox .fa-city {
    font-size: 20px;
    top: 17.5px;
    right: 17.5px;
  }
  .search p, .random p {
    font-size: 30px;
  }
}

@media (max-width: 1010px) {
  body {
    width: 70%;
  }
  .title p {
    font-size: 80px;
  }
  .textbox input {
    font-size: 25px;
  }
  .textbox .fa-magnifying-glass {
    font-size: 15px;
    top: 15px;
    left: 15px;
  }
  .textbox .fa-city {
    font-size: 15px;
    top: 15px;
    right: 15px;
  }
  .search, .random {
    margin-top: 1.5rem;
  }
  .search p, .random p {
    font-size: 25px;
  }
}

@media (max-width: 650px) {
  body {
    width: 80%;
  }
  .title p {
    font-size: 70px;
  }
  .textbox input {
    font-size: 20px;
  }
  .textbox .fa-magnifying-glass {
    font-size: 10px;
    top: 13px;
    left: 13px;
  }
  .textbox .fa-city {
    font-size: 10px;
    top: 13px;
    right: 13px;
  }
  .search, .random {
    margin-top: 1rem;
  }
  .search p, .random p {
    font-size: 20px;
  }
  .result p {
    font-size: 90%;
  }
}

@media (max-width: 500px) {
  body {
    width: 90%;
  }
  .title p {
    font-size: 60px;
  }
  .textbox input {
    font-size: 18px;
  }
  .textbox .fa-magnifying-glass {
    top: 11px;
    left: 11px;
  }
  .textbox .fa-city {
    top: 11px;
    right: 11px;
  }
  .search p, .random p {
    font-size: 18px;
  }
  .result p {
    font-size: 80%;
  }
}

@media (max-width: 390px) {
  body {
    width: 100%;
  }
}
